/* Reset some basic elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Import fonts */
@font-face {
  font-family: "PayPal Open";
  src: url("/fonts/PayPalOpen-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* Global styles */
body {
  font-family: "PayPal Open", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Better responsive images */
img {
  max-width: 100%;
  height: auto;
}
